html {
  height: 100vh;
  background: url(./assets/img/fon.jpg) center center no-repeat transparent;
  background-size: cover;
}

body {
  margin: 0px;
}

h1 {
  display: block;
  width: 100%;
  margin: 0px 0px 10px;
  font-size: 42px;
  text-align: center;
  color: rgb(140, 0, 255);
}

h3 {
  width: 100%;
  margin: 0px 0px 20px;
  font-size: 24px;
  text-align: center;
  color: rgb(140, 0, 255);
}

.window {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteiner {
  position: absolute;
  top: 10px;
  display: flex;
  max-height: 90vh;
  max-width: 82vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(206, 252, 212, .7);
  border-radius: 15px;
}

.gameForm.is-open {
  background-image: none;
  color: rgb(7, 51, 3);
  background-color: rgba(206, 252, 212, .9);
  transform: none;
  transform-origin: center;
}

.gameForm {
  position: relative;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: transparent;
  border: 1px solid #838383;
  transform: rotateY(180grad);
  transition: transform .3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.font-size--4 {
  width: 24%;
  font-size: 6em;
}

.font-size--6 {
  width: 16%;
  font-size: 4em;
}

.font-size--8 {
  width: 12%;
  font-size: 3em;
}

.font-size--10 {
  width: 9%;
  font-size: 2.3em;
}

.gameForm::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/img/dwm-stern-jade-40cm.jpg) center center no-repeat transparent;
  background-size: cover;
  border: 1px solid #838383;
  transition: transform .3s ease-in-out;
}

.gameForm.is-open::before {
  transform: rotateY(100grad);
}

.modal {
  max-width: 300px;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.start-modal {
  position: absolute;
  top: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 250px; */
  align-items: center;
}

label {
  width: 96px;
  margin: 0px 10px 20px 10px;
  text-align: left;
}

input:checked {
  box-shadow: 0px 5px transparent;
}

.btn-reset {
  margin: 0;
  padding: 0px;
  background-color: transparent;
}

.btn {
  display: block;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: rgb(140, 0, 255);
  border: 2px solid black;
  opacity: 0.5;
}

.btn:hover, .btn:focus {
  opacity: 1;
}

.timer {
  position: absolute;
  top: 27px;
  left: 80%;
  font-size: 32px;
}

#ex3 {
  position: absolute;
  top: 420px;
  display: none;
  z-index: 2;
}
